@model IEnumerable<Gertslager.Models.Hall>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cooling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antal_rækker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivelse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cooling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antal_rækker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beskrivelse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
